.CardMod{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 10%;
    width: 90%;
    height: 80%;

    border: solid 2px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.50);
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    background: rgb(255, 217, 84);
}
.CardText{

    height: 100%;
    width: 21vw;
    border-right: 4px solid black;
}
.imagesIN{
    padding-left: 50vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
}