.cardS{
    width: 40vw;
    height: 20vh;

    margin-top: 1vh;
    margin-left: 1vh;
    background: rgb(255, 217, 84);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow-y:hidden;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.avatarMod{
    width: 39vw;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.infoCard{
    position: relative;
    top: 0;
    left: 0;

    border-right: 1px solid black;
    height: 20vh;
    width: 21vw;
}
.infoCard-type{
    position: absolute;
}
.navig{
    width: 40vw;
    height: 20vh;

    margin-top: 1vh;
    margin-left: 1vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}